*, *:before, *:after {
  box-sizing: inherit;
}
.content {
  margin: 2em auto;
}
table.statuses {
  border-collapse: separate;
  border-spacing: 12px 5px;
  border: 0 none;
  margin: 2em 0 5em;
}
table.statuses thead, table.statuses tr {
  background-color: transparent;
}
table.statuses th.version {
  text-align: center;
}
table.statuses td, table.statuses th {
  text-align: left;
  line-height: 1.5;
  vertical-align: top;
  padding: .5rem;
}
table.statuses th.name {
  text-align: right;
}
table.statuses .status {
  color: white;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
.status a {
  display: block;
  padding: .5rem;
  width: 100%;
  text-decoration: none;
}
.status a:hover {
  text-decoration: none;
}
.success a {
  background-color: #60b541;
}
.pending a {
  background-color: #909BD4;
}
.failed a {
  background-color: #c82626;
}
.success a:hover {
  background-color: #427d2d;
}
.pending a:hover {
  background-color: #5969bf;
}
.failed a:hover {
  background-color: #881a1a;
}
.status a, .status a:visited {
  color: inherit;
}
.status {
  text-transform: uppercase; font-size: .75em;
}
.version, .status {
  width: 15%;
}
.updated-at {
  text-align: center;
}
